#main-footer {
  background-color: $medium-gray;
  margin-top: rem-calc(32);
  padding: rem-calc(8 0);

  #footer-nav {
    li {
      margin-right: $global-menu-margin;

      a {
        color: $black;
      }
    }
  }

  #copyright {
    padding: $global-menu-padding;
    line-height: 1;
  }
}

